<!--web footer UI-->
<div id="footer_div1" class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-3 col-lg-2 text-center"><h5>Copyright &copy; 2021</h5><h5>동대방네</h5></div>
        <div class="col-md-3 col-lg-2 text-center"><h4>관련 정보</h4>
            <div class="list-group footer_text">
                <a href="#" class="list-group-item">개인정보<br/>처리방침</a>
                <a href="#" class="list-group-item">이용약관</a>
            </div>
        </div>
        <div class="col-md-3 col-lg-2 text-center"><h4>문의</h4>
            <div class="list-group footer_text">
                <a href="#" class="list-group-item">1 : 1 문의</a>
                <a href="#" class="list-group-item">신고</a>
            </div>
        </div>
        <div class="col-md-3 col-lg-2 text-center"><h4>SNS 홍보</h4>
            <div class="list-group footer_text">
                <a href="#" class="list-group-item">INSTAGRAM</a>
            </div>
        </div>
    </div>
</div>
<!--모바일 footer UI-->
<!--<div id="footer_div2" class="container-lg">-->
<!--    <div class="row d-flex justify-content-center">-->
<!--        <div class="col-3 col-sm-3 text-center">Copyright &copy; 2021 동대방네</div>-->
<!--        <div class="col-3 col-sm-3 text-center">개인정보 처리방침</div>-->
<!--        <div class="col-3 col-sm-3 text-center">이용약관</div>-->
<!--        <div class="col-3 col-sm-3 text-center">INSTAGRAM</div>-->
<!--    </div>-->
<!--</div>-->