# TestFile
src/test

# Package Files #
*.jar
*.war
*.ear

# IntelliJ project files
.idea
.idea/*.xml
*.iml
dguproject.iml

# Compliled files
/target/

# application properties
*.properties
application.yml

# csv
*.csv