<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>비밀번호 찾기</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main/font.css">
    <link rel="stylesheet" href="/css/account/account.css">
    
    <!-- 폰트어썸 아이콘 라이브러리 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <style>
    </style>    
  </head>
  <body>
    <main>
      <div class="container">
        <h3><p class="text-center p-5"><a href="/shop/main/index" id="site_brand"><i class="fas fa-republican"></i>&nbsp;동대방네</a></p></h3>
        <h3><p class="text-center p-5">비밀번호<br>찾기</p></h3>
        <div class="row">
          <div class= "col-12 col-sm-12 d-flex justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
              <hr>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <!-- 웹메일 입력란 -->
          <label for="Resister_WebMail"></label>
          <div class="input-group col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 d-flex justify-content-center form_size">
            <input type="text" class="form-control" placeholder="동국대 웹메일" id="Resister_WebMail">
            <div class="input-group-append">
              <span class="input-group-text">@dongguk.edu</span>
            </div>
          </div>

          <div class= "col-12 col-sm-12 d-flex justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
              <hr>
            </div>
          </div>
          <div class="form-group col-12 col-sm-12 d-flex justify-content-center form_size">
            <button type="button" id="input_userInfo" class="btn btn-primary form-control col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">입력 완료</button>
          </div>
        </div>
      </div>
    </main>
    <script src="/js/account/find_pwd_userInfo.js"></script>
  </body>
</html>