<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>모든 동대생들이 동네이웃처럼</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main/index.css">
    <link rel="stylesheet" href="/css/account/member_modify.css">
    <link rel="stylesheet" href="/css/account/change_smartPhone_number.css">
    <link rel="stylesheet" href="/css/main/font.css">
    <link rel="stylesheet" href="/css/main/nav.css">
    <link rel="stylesheet" href="/css/main/chat.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/item/onePick.css">
    <link rel="stylesheet" href="/css/item/form_picture_text.css">
    <link rel="stylesheet" href="/css/item/ListbyCondition.css">
    <link rel="stylesheet" href="/css/item/myItem.css">
    <link rel="stylesheet" href="/css/item/upLoad.css">
    <link rel="stylesheet" href="/css/item/category.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/account/select_userInfo.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/item/image_slider.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>
  <body>
    <!-- 로그인 및 회원가입, 물품 검색 UI -->
    <nav class="navbar fixed-top navbar-expand-md" id="navbar_height"></nav>
    <!-- ajax로 다른 컨텐츠 불러오기 -->
    <main id="main_tag">
      <div class="container-fluid">
        <!-- 슬라이드판 및 인기 카테고리 -->
        <div id="info_picture" class="carousel slide" data-ride="carousel">
            <!-- 슬라이드의 아래에 있는 점을 의미 -->
            <ul class="carousel-indicators">
              <li data-target="#info_picture" data-slide-to="0" class="active"></li>
              <li data-target="#info_picture" data-slide-to="1"></li>
            </ul>
            <!-- 슬라이드를 추가하는 곳을 의미 -->
            <div class="carousel-inner">
              <!-- 슬라이드에 추가할 파일 내용 -->
              <div class="carousel-item active">
                  <img src="/imgs/slideshow_sample.jpg" class="slide-picture" alt="">
              </div>
              <div class="carousel-item">
                  <img src="/imgs/slideshow_sample.jpg" class="slide-picture" alt="">
              </div>
            </div>
            <!-- 슬라이드의 이전 이미지로 가기 버튼 생성-->
            <a class="carousel-control-prev" href="#info_picture" data-slide="prev">
              <!-- 슬라이드의 이전 이미지로 가기 버튼의 아이콘-->
              <span class="carousel-control-prev-icon"></span>
            </a>
            <!-- 슬라이드의 다음 이미지로 가기 버튼 생성-->
            <a class="carousel-control-next" href="#info_picture" data-slide="next">
              <!-- 슬라이드의 다음 이미지로 가기 버튼의 아이콘-->
              <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <div class="container text-center w-60">
            <p id="category_word" class="p-3">인기 카테고리</p>
            <div id="index_bg_form" class="row d-flex justify-content-center">
                <!--카테고리 태그 동적으로 생성되는 곳-->
            </div>    
        </div>
        <hr>
        <div id="item_list_index" class="container-fluid">
            <div id="index_category_form" class="container">
                <!-- 카테고리 별 중고물품 동적으로 생성되는 곳-->
            </div>
        </div>
      </div>
    </main>
    <!-- 채팅UI -->
    <figure></figure>
    <hr>
    <footer></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script type="module" src="/js/main/pageLoad.js"></script>
    <script src="/js/main/index.js"></script>
    <script type="module" src="/js/item/onePick.js"></script>
    <script type="module" src="/js/item/myItem.js"></script>
    <script src="/js/item/ListbyCondition.js"></script>
    <script type="module" src="/js/item/upLoad.js"></script>
    <script type="module" src="/js/account/member_modify.js"></script>
    <script type="module" src="/js/account/change_Pwd.js"></script>
    <script type="module" src="/js/account/change_smartPhone_number.js"></script>
  </body>
</html>