<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>모든 동대생들이 동네이웃처럼</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main/index.css">
    <link rel="stylesheet" href="/css/account/member_modify.css">
    <link rel="stylesheet" href="/css/account/change_smartPhone_number.css">
    <link rel="stylesheet" href="/css/main/font.css">
    <link rel="stylesheet" href="/css/main/nav.css">
    <link rel="stylesheet" href="/css/main/chat.css">
    <link rel="stylesheet" href="/css/item/onePick.css">
    <link rel="stylesheet" href="/css/item/form_picture_text.css">
    <link rel="stylesheet" href="/css/item/ListbyCondition.css">
    <link rel="stylesheet" href="/css/item/myItem.css">
    <link rel="stylesheet" href="/css/item/upLoad.css">
    <link rel="stylesheet" href="/css/item/category.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/account/select_userInfo.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/item/image_slider.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>
  <body>
    <!-- 로그인 및 회원가입, 물품 검색 UI -->
    <nav class="navbar fixed-top navbar-expand-sm" id="navbar_height"></nav>
    <!-- ajax로 다른 컨텐츠 불러오기 -->
    <main id="main_tag">
      <div class="ListbyCondition_container container">
        <br>  
        <div id="list_form" class="row rounded">
            <div class=" h5 p-4 col-12 col-sm-12">
                <span>
                    중고거래 :
                </span>
                <span>
                    생활용품
                </span>   
            </div>
            <!-- 조건별 중고물품 리스트 1-->
            <div class="item_form col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                <div class="item_picture_form">
                  <img href="/shop/item/onePick" src="/imgs/home_goods1.jpeg" class="move_onePick item_picture" alt="">
                </div>
                <div class="item_text">
                  <div href="/shop/item/onePick" class="move_onePick item_title">컴퓨터와 운영체제</div>
                  <div href="/shop/item/onePick" class="move_onePick item_price">2,000원</div>
                  <div class="item_info_good_view">
                      <!-- 중고물품 좋아요 수 -->
                      <span class="good_button">좋아요</span>
                      <span>5</span>
                      <span>∙</span>
                      <!-- 중고물품 채팅횟수 -->
                      <span>채팅횟수</span>
                      <span>100</span>
                  </div>
                </div>
            </div>
        </div>
        <br>
      </div>
      <hr>
    </main>
    <!-- 채팅UI -->
    <figure></figure>
    <footer></footer>
    <script defer src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script type="module" src="/js/main/pageLoad.js"></script>
    <script src="/js/main/index.js"></script>
    <script type="module" src="/js/item/onePick.js"></script>
    <script type="module" src="/js/item/myItem.js"></script>
    <script type="module" src="/js/item/myItem_executing.js"></script>
    <script src="/js/item/ListbyCondition.js"></script>
    <script type="module" src="/js/item/upLoad.js"></script>
    <script type="module" src="/js/account/member_modify.js"></script>
    <script type="module" src="/js/account/change_Pwd.js"></script>
    <script type="module" src="/js/account/change_smartPhone_number.js"></script>
  </body>
</html>