.body_background,.main_background{
    background-color: #0e0e0e;
}

.item_slide_form2_2{
    height: 92.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_slide_big_picture{
    max-width: 100%;
    max-height: 100%;
}

.swiper-button-prev,.swiper-button-next{
    color: rgb(29, 161, 242);
}
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #dbd9d9;
}

.swiper-pagination-bullet-active {
    background: rgb(29, 161, 242);
}
#slide_delete{
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 50px;
    color: #beb9aa;
    z-index: 99999;
}