/*페이지 전체UI*/
@media (min-width:768px) and (max-width:1024px){
    #myItem_container{
        width: 60%;
    }
}

@media (min-width:1024px){
    #myItem_container{
        width: 52%;
    }
}
/*529px이하부터 프로필 사진이 정중앙에 위치하고 block처리 된다.*/
@media (max-width:529px){
    .my_item_header{
        display: block;
    }
    #my_picture_form1{
        width: 100%;
        padding: 0 25%;
    }
}
@media (min-width:530px){
    .my_item_header{
        display: flex;
    }
    #my_picture_form1{
        width: 20%;
    }
}
.badge-primary{
    background-color: rgb(29, 161, 242);;
}
#my_picture_form2{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}
#my_picture{
    position: absolute;
    width: 100%;
    height: 100%;
}
#my_profile_form{
    margin-left: 15px;
}
#my_info1,#my_info2,#my_info3{
    width: 80%;
}
#my_nickname{
    font-size: 20px;
}
.my_category_text{
    margin-right: 10px;
}
#my_rank_text,#my_rank_name{
    color: #868e96;
    font-size: 14px;
}
#my_rank_img{
    color: rgb(29, 161, 242);
}

.my_menu_form{
    margin-top: 15px;
}
@media (min-width:394px){
    .my_menu{
        padding: 0 20px 5px;
    }
}
@media (max-width:393px){
    .my_menu{
        padding: 0 6px 5px;
    }
}
@media (max-width:309px){
    .my_menu{
        font-size: 14px;
        padding: 0 2px 5px;
    }
}
#my_menu_line{
    margin-top: 5px;
}
#my_items{
    color: rgb(29, 161, 242);
    border-bottom: 3px solid rgb(29, 161, 242);
}
.selected_sort{
    color: rgb(29, 161, 242);
}
#my_items,#trade_comment,#my_purchased_items{
    cursor: pointer;
}
#trade_comment,#my_purchased_items{
    color: #868e96;
}
#my_items:hover,#trade_comment:hover,#my_purchased_items:hover{
    color: rgb(29, 161, 242);
    border-bottom: 3px solid rgb(29, 161, 242);
}
#my_items_form{
    margin-top: 10px;
}
#my_items_select,#my_comment_select,#my_purchase_select{
    border-radius: 10rem;
}

@media (min-width: 280px) and (max-width: 324px) {
    .sort_form span{
        font-size: 10px;
        padding: 0 3px;
    }
}
@media (min-width: 325px){
    .sort_form span{
        font-size: 12px;
        padding: 0 5px;
    }
}
.sort_text{
    cursor: pointer;
    border-right: 1px solid rgba(0,0,0,.2);
}
.sort_text_right{
    border-right: 1px solid transparent;
}
.sort_text:hover,.sort_text_active{
    color: rgb(29, 161, 242);
}
/*거래 후기UI와 나의 구매물품UI */
.other_user_picture, .my_purchased_item_picture{
    width: 50px;
    height: 50px;
}
#trade_comment_count,#my_item_count,#my_purchased_items_count{
    color: rgb(29, 161, 242);
}
.other_user_info, .my_purchased_item_info{
    margin-left: 10px;
}
.my_purchased_item_info{
    width: 100%;
}
.other_user_comment_uploadTime{
    color: #868e96;
}
.other_user_comment,.other_user_comment_uploadTime{
    font-size: 12px;
}

.my_purchased_item_price,.my_purchased_item_comment_status,.my_purchased_item_comment{
    font-size: 14px;
}
.my_purchased_item_comment{
    cursor: pointer;
}
.other_user_picture,.other_user_nickname,.my_purchased_item_picture,.my_purchased_item_title{
    cursor: pointer;
}
@media(max-width: 356px){
    .my_purchased_item_title{
        font-size: 12px;
    }
}
@media(min-width: 768px) and (max-width: 819px){
    .my_purchased_item_title{
        font-size: 14px;
    }
}
.big_divice_right_info{
    font-size: 12px;
}
@media (min-width:280px) and (max-width: 519px){
    .big_divice_right_info{
        display: none;
    }
    .small_divice_right_info{
        font-size: 12px;
    }
}
@media (min-width:520px){
    .small_divice_right_info{
        display: none;
    }
}
.not_upload{
    margin: 100px 0;
    display: flex;
    justify-content: center;
}